<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RajTob</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png" href="/static/img/logo-removebg-preview.png">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="logo">
            <img src="../static/img/logo.PNG" alt="logo">
        </div>
        <nav>
            <a href="/">Hjem </a>
            <a href="/grid">Grid </a>
            <a href="/sortering">Sortering</a>
            <a href="/bil">Søk</a>
        </nav>    
    </header>
    <div id=pakker>
        <table>
            <thead>
                <th>Merke</th>
                <th>Modell</th>
                <th>Bilde</th>
                <th>Årstall</th>
            </thead>
            <tbody>
                {% for topp in biler %}
                <tr>
                    <td>{{ topp.merke }}</td>
                    <td>{{ topp.modell }}</td>
                    <td><img src="static/img/{{topp.bilde}}" alt=""></td>
                    <td>{{ topp.årstall }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <h2>rajtob.com</h2>
        <p>rajith@hotmail.no</p>
        <p>tobias@gmail.no</p>
      </footer>
</body>

</html>