<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RajTob</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="../static/img/logo.PNG" alt="logo">
      </div>
      <nav>
          <a href="/">Hjem </a>
          <a href="/grid">Grid </a>
          <a href="/sortering">Sortering</a>
      </nav>    
    </header>
      <div id="liste">
        <a href="/aar/1900">1900-tallet</a>
        <a href="/aar/1920">1920-tallet</a>
        <a href="/aar/1930">1930-tallet</a>
        <a href="/aar/1940">1940-tallet</a>
        <a href="/aar/1950">1950-tallet</a>
        <a href="/aar/1960">1960-tallet</a>
        <a href="/aar/1970">1970-tallet</a>
        <a href="/aar/1980">1980-tallet</a>
        <a href="/aar/2010">2010-tallet</a>
      </div>
    </div>
    <footer>
      <h2>rajtob.com</h2>
      <p>rajith@hotmail.no</p>
      <p>tobias@gmail.no</p>
    </footer>
  </body>
</html>
