<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RajTob</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link rel="shortcut icon" type="image/png" href="/static/img/logo-removebg-preview.png">
  </head>

  <body>
    <header>
      <div id="logo">
        <img src="../static/img/logo.PNG" alt="logo">
      </div>
      <nav>
          <a href="/">Hjem </a>
          <a href="/grid">Grid </a>
          <a href="/sortering">Sortering</a>
      </nav>    
    </header>
      <div id="pakker">
        <div id="sortering">
            <div id="liste">
                <h1>Årstall</h1>
                <a href="/aar/1900">1900-tallet</a>
                <a href="/aar/1920">1920-tallet</a>
                <a href="/aar/1930">1930-tallet</a>
                <a href="/aar/1940">1940-tallet</a>
                <a href="/aar/1950">1950-tallet</a>
                <a href="/aar/1960">1960-tallet</a>
                <a href="/aar/1970">1970-tallet</a>
                <a href="/aar/1980">1980-tallet</a>
                <a href="/aar/2010">2010-tallet</a>
            </div>
            <div id="merke">
                <h1>Bilmerke</h1>
                <a href="/merke/Ford">Ford</a>
                <a href="/merke/Porsche">Porsche</a>
                <a href="/merke/Opel">Opel</a>
                <a href="/merke/Rolls-Royce">Rolls-Royce</a>
                <a href="/merke/Mercedes-Benz">Mercedez-Benz</a>
                <a href="/merke/Saab">Saab</a>
                <a href="/merke/Lamborghini">Lamborghini</a>
                <a href="/merke/Cadillac">Cadillac</a>
                <a href="/merke/Triumph">Triumph</a>
                <a href="/merke/Aston Martin">Aston Martin</a>
                <a href="/merke/Lada">Lada</a>
                <a href="/merke/Peel">Peel</a>
                <a href="/merke/Citroën">Citroën</a>
                <a href="/merke/Pontiac">Pontiac</a>
                <a href="/merke/Volvo">Volvo</a>
                <a href="/merke/Ferrari">Ferrari</a>
                <a href="/merke/Volkswagen">Volkswagen</a>
                <a href="/merke/Morgan">Morgan</a>
                <a href="/merke/Jaguar">Jaguar</a>
                <a href="/merke/Tesla">Tesla</a>
            </div>
          </div>
      </div>
    <footer>
      <h2>rajtob.com</h2>
      <p>rajith@hotmail.no</p>
      <p>tobias@gmail.no</p>
    </footer>
  </body>
</html>
